<h1>New Post</h1>

<%= form_for @post do |f| %>
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
  </fieldset>

  <fieldset>
  <% if f.object.link? %>
    <%= f.label :link %>
    <%= f.text_field :link, :required => true %>
  <% else %>
    <%= f.label :body %>
    <%= f.text_area :body, :required => true %>
  <% end %>
  </fieldset>

  <%= f.hidden_field :post_type %>

  <%= f.submit %>
<% end %>
